* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#page-one {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    padding-top: 2rem;
    text-align: center;
}

.nav-bar-content {
background: grey;
height: 80px;
text-align: center;

font-family: sans-serif;
font-size: 2rem;
padding-top: 0.8rem;

}


.control-btn {
    margin: 1.5rem auto;
}



.container-parent {
    
    margin: auto;
    max-width: 350px;
  
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: 1rem;
    overflow: hidden;
    padding: 20px;
    
}

.container-child-right {
 
  /* background-color: red; */
 min-width: 200px;
  padding-left: 20px;
  text-align: left;
  
  /* padding: 1rem; */
 
   
}

.container-child-left {
  
  /* background-color: blue; */
  
  min-width: 10px;
  /* padding: 1rem; */

  
}


.add-btn {

    width: 100px;
    height: 35px;
    position: relative;
    bottom: 4px;
    border-radius: 20px;
    border: none;
    font-family: gotham;
    font-style: bold;
    font-size: 1rem;
    
}


img {
    width: 27px;
    margin-top: 2px;
    cursor: pointer;
    display: block;
    
}


#myText {
    border-radius: 20px;
   height: 40px;
   width: 300px;
   padding: 15px;
   border: none;
   font-family: gotham;
   font-size: 1.3rem;
   text-align: center;
   margin-top: 20px;
   margin-right: 5px;
}





p {
    font-size: 1.6rem;
    font-family: gotham;
    color: rgb(19, 212, 19);
    
}


.below-container{
    height: 200px;
    background-color: rgb(125, 197, 57);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: 50px;
    
}



.below-container-child-left, .below-container-child-right {
    text-align: center;
    font-size: 10px;
}


@media only screen and (max-width: 600px) {
    
        .add-btn {
            margin-top: 1.5rem;
           
  }


  @media only screen and (max-width: 375px) {

  .container-parent {
   width: 300px;
  
   padding: 0;
   
  }

  .container-child-left {
      position: absolute;
      left: 75px;
      top: 260px;
  }

  .container-child-right {
    position: absolute;
    left: 90px;
    top: 260px;
}


  }


 
  @media only screen and (max-width: 320px) {

    .container-child-left {
        position: absolute;
        left: 75px;
        top: 280px;
    }
  
    .container-child-right {
      position: absolute;
      left: 90px;
      top: 280px;
  }
  
     
}

}
  
































